<!-- templates/index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Media Tagger</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- Partial using % include for my nav -->
    {% include 'PartialPages/navMain.html' %}

    <h1 class = "banner-title">Welcome to Personal Media Tagging App</h1>
    
    <div id = "split-container">
        <div id = "upload-pane" class = "split-box">
            <h2>Upload Your Media</h2>
            <form id = "uploadForm">
                <input type = "file" name = "media" accept = ".jpg, .jpeg, .png, .gif, .heic, .mp4, .mov, .webm" required><br><br>
                <input type = "text" name = "tags" placeholder = "Enter tags (comma-separated)" required><br><br>
                <button type = "submit" class = "btn-purp">Upload</button>
            </form>
            <div id = "upload-status"></div>
        </div>

        <div id = "gallery-pane" class = "split-box">
            <div class = "gallery-wrapper"> <!-- Div for gallery section expansion -->
                <button id = "expandGalleryBtn">⛶</button>
                <input type = "text" id = "tagSearchInput" placeholder = "Search by tag..." class = "tag-search" />
                <h2>Your Gallery</h2>
                <div id = "gallery-content">
                    <!-- Media loaded here via JS -->
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Partial -->
    {% include 'PartialPages/footerMain.html' %}

    <!-- Script Partials -->
    <script src="{{ url_for('static', filename='js/galleryHandler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uploadHandler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/expandGallery.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/tagSearchHandler.js') }}"></script> 

</body>
</html>
